body{
background:#111;
color:white;
font-family:Arial;
}

header{
display:flex;
align-items:center;
gap:15px;
}

.editor{
display:flex;
gap:20px;
}

.controls{
width:200px;
}

.stat{
display:flex;
align-items:center;
gap:5px;
margin:4px 0;
}

.sheet{
display:flex;
flex-wrap:wrap;
width:210mm;
}
